/* Base styles (extra small devices - mobile) */
/* CSS rules */

html{
  font-size: 14px;
}

body{
  margin: 0;
  padding: 0;
  font-family:'Roboto', sans-serif;
  color:#444444;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #222222;
  
}

h1{font-size: 2.5rem;}
h2{font-size: 2rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 12px 0;
  
}

a{
  text-decoration: none;
  color: #3B82F6;
}

a:hover, a:focus{
  color: #1D4ED8;
}

#navbar{
  padding: 8px;
  margin: 0;
}

#logo-with-text{
  display:none;
}

#banner {
  object-fit: cover;
  width: 100%;
  height:120px;
}

#about {
  display: flex;
  flex-direction:column;
  max-width: 500px;
  margin: 0 auto;
  padding: 8px;
}

#description {
  font-size: 1.13rem
}

#team-image {
  border-radius: 5px;
  width: 100%
}

h2{
  text-align: center;
}
#jobs {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 8px;
}

#jobs-list{
  display:block;
}

#jobs-table{
  display: none;
}

.job{
  border: 1px solid #dddddd;
  margin-top: 5px;
  padding: 8px;
  border-radius: 3px;
  background-color: #EFF6FF;

}

.job-title{
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  margin: 3px;
}

.job-detail{
  font-family: 'intern', sans-serif;
  font-weight:500;
  margin-left:4px;
  margin-top: 2px;
}

#application1{
  max-width: 500px;
  margin:20px auto;
  padding:10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #F3F4F6;
}
#application-form1{
  max-width: 320px;
  margin: 0 auto;
}

#application-form1 label{
  font-size: 1.25rem;
  font-weight:400;
}

#application-form1 input[type="text"],input[type="email"], input[type="date"], input[type="file"], input[type="submit"], select, textarea{
  margin-top: 3px;
  margin-bottom:15px;
  padding: 8px;
  font-size: 1rem;
  background-color: #F9FAFB;
  border-color: #E5E7EB;
  border-radius: 5px;
  width: 310px;
}

#application-form1 input:hover{
  
  border-color:#9CA3AF;
}

#application-form1 input[type=submit]{
  background-color:#3B82F6;
  color:white;
  font-weight:600;
}

#application-form1 input[type=submit]:hover{
  background-color: green;
}


#application{
  max-width:500px;
  margin: 0 auto;
  padding: 0 8px;
}

#application-form{
  font-weight:600;
}

.form-group label{
  font-weight:600;
}

.form-group input, select, textarea{
  width: 90%;
  padding: 8px;
  font-size: 20px;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid gray;
}

.form-group{
  margin-top: 16px;
}

.form-group textarea{
  font-family: 'Roboto', sans-serif;
}

.form-group input[type="checkbox"]{
  width:16px;
  height:16px;
}

.form-group input[type="Submit"]{
  background-color: #3B82F6;
  color:white;
  font-weight:500;
  padding:16px;
  cursor:pointer;

}

#footer {
  background-color: ghostwhite;
  padding: 8px;
  margin-top: 32px;
  text-align: center;
}

#footer-links {
  padding:0;
  list-style: none;  
}

#footer-links li {
  margin: 8px 16px;
  font-size: 1rem;
}

.copyright {
  color: gray;
  font-size: 0.8rem;
}
/* Small devices (tablets) */
@media screen and (min-width: 576px) {
  html{
    font-size: 16px;
  }
  #logo-with-text{
    display:block;
  }
  #logo{
    display:none;
  }

  #banner{
    height: 200px;
  }

  h1{
    margin:14px, 0;
  }
  #about {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
  }
  #description {
    width: 50%;
    padding-right: 8px;
    font-size: 1.13rem
  }
  #team {
    width: 50%;
  }

  .form-group input, select{
    width:auto;
  }
  .form-group textarea{
    width:80%;
  }
}

/* Medium devices (laptops) */
@media screen and (min-width: 768px) {
  html{font-size: 18px;}
  #logo-with-text{
    display:block;
  }
  #logo{
    display:none;
  }
  #banner{
    height: 240px;
  }
  h1{
    margin:16px, 0;
  }
  #about {
    max-width: 900px;
  }
  #description {
    width: 50%;
    padding-right: 8px;
    font-size: 1.13rem
  }

  #jobs{
    max-width: 900px;
  }
  #jobs-list{
    display: none;;
  }
  #jobs-table{
    display: table;
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
  }

  #jobs-table tr:nth-child(even){
    background-color: #EFF6FF;
  }
  
  
  .jobs-header-row th{
    border: 1px solid gray;
    padding: 8px;
    background-color: #E0F2FE;
    font-weight: 500;
    color: #222222;
  
  }
  
  .jobs-data-row td{
    border-right: 1px solid gray;
    padding: 8px;
   
  }

  #application1{
    max-width:900px;
  }

  #footer-links li{
    display:inline;
    margin:0px 16px;
  }

 
}


/* Large devices (desktops) */
@media screen and (min-width: 992px) {
  html{font-size: 20px;}
  #logo-with-text{
    display:block;
  }
  #logo{
    display:none;
  }
  #banner{
    height: 300px;
  }
  h1{
    margin:18px, 0;
  }
  #about {
    max-width: 1000px;
  }
  #jobs{
    max-width: 1000px;
  }

  #application1{
    max-width:1000px;
  }
}



/* Extra large devices (large desktops) */
@media screen and (min-width: 1200px) {
   html{font-size: 22px;}
   #logo-with-text{
    display:block;
  }
  #logo{
    display:none;
  }
  #banner{
    height: 360px;
  }
  h1{
    margin:20px, 0;
  }

}



/* 









h1 {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #222222;
}

#banner {
   width: 100%; 
}

#about {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 8px;
}

#description {
  width: 50%;
  padding-right: 8px;
  font-size: 1.13rem
}

#team {
  width: 50%;
}

#team-image {
  border-radius: 5px;
  width: 100%
}

#jobs-table{
  width: 100%;
  border: 1px solid gray;
  border-collapse: collapse;
}



h2 {
  text-align: center;
}

#jobs {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px;
}

h3 {
  margin-bottom: 4px;
  margin-top: 0;
}





#application{
  max-width:800px;
  margin: 0 auto;
  padding: 0 8px;
}

#application-form{
  font-weight:600;
}

#application-form label{
  font-weight:600;
}

#application-form input, select, textarea{
  padding: 8px;
  font-size: 20px;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid gray;
}

.form-group{
  margin-top: 16px;
}

.form-group textarea{
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.form-group input[type="checkbox"]{
  width:16px;
  height:16px;
}

.form-group input[type="Submit"]{
  background-color: #3B82F6;
  color:white;
  font-weight:500;
  padding:16px;
  cursor:pointer;
} */
